/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul,li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
body{
    background-color: #95efff;
    padding-top: 50px;
    font-family: Montserrat;
}
.wrapper{
    margin: 0 auto;
    display: grid;
    max-width: 400px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    border: 3px solid black;
    border-radius: 15px;
    overflow: hidden;
}

.wrapper .windows{
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: white;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper .windows .label{
    margin: 10px;
}
.wrapper .windows .result{

}


.wrapper .inputs{
    grid-column-start: 1 ;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: black;
    display: flex;

}
.wrapper .inputs .first-input{
    min-width: 196px;
    max-width: 196px;
    min-height: 100px;
    border: 2px solid orange;
    border-right: 0px;
    text-align: center;
    font-size: 14px;
}
.wrapper .inputs .second-input{
    min-width: 198px;
    max-width: 198px;

    min-height: 100px;
    border: 2px solid orange;
    text-align: center;
    font-size: 14px;

    
}

.wrapper .buttons {
background-color: white;
grid-column-start: 1 ;
grid-column-end: 5;
grid-row-start: 3;
grid-row-end: 5;
display: flex;
justify-content: center;

}
.wrapper .buttons .content{
    display: grid;
    padding: 5px;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(2, 80px);
    gap: 5px;
    
}
.wrapper .buttons .content button{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
}

.wrapper .buttons .content .sum{
    grid-column-start: 1 ;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.wrapper .buttons .content .minus{
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.wrapper .buttons .content .divide{
    grid-column-start: 1 ;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.wrapper .buttons .content .multi{
    grid-column-start: 2 ;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}